.header{
  @include background-dark;

  &__inner{
    @include padding-m;

    @media(min-width:$break-md){
      @include padding-l;
    }
  }

  // .mobile-logo{
  //   @media(min-width:$break-md){
  //     display:none;
  //   }
  // }

  .logo--desktop{
    display: none;
    @media(min-width:$break-md){
      padding-top: rem(10);
      display: block;
      @include margin-left-m;
    }
  }
}
