@mixin modal-hidden{
  // border: 0;
  // clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  // clip: rect(1px, 1px, 1px, 1px);
  // height: 1px;
  // margin: -1px;
  // overflow: hidden;
  // padding: 0;
  // position: absolute;
  // width: 1px;
  display: none;
}


@mixin fullscreen-modal--active{
  @include background-dark;
  @include padding-m;
  display: block;
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  z-index: 3;
  // clip: auto;
  // width: auto;
  // height: auto;
  // margin: 0;
  // overflow: auto;

  @media(min-width:$break-md){
    @include padding-l;
  }
}
